body {
	background-color: #00000
}

h1 {
	color: #636363;
	font-family: PT serif, serif;
	font-size: 32px;
	text-align:center;
}

#second{
	color:#F2F2F2;
	font-family: Roboto, san-serif;
	font-weight: bold;
	font-size: 200px;
}

p {font-family: Roboto, san-serif;
	font-size: 40px;
}

.important{
	color: #9ABD60;
	font-size: 32px;
	font-family: PT serif, serif;
	text-align:left;
	line-height: 55px; 
	font-weight: lighter;
}

a{
	font-style:italic;
}