
h1 {
	color: #636363;
	font-family: 'Jomolhari', serif;
	font-size: 32px;
	text-align:center;
	font-weight:100;
}

p {font-family: 'Jomolhari', serif;
	font-size: 24px;
	line-height:48px;
}

#wrapper {
	width:860px;
	margin: 0 auto;
	margin-top: 200px;

}

#second{
	color:#333332;
	font-family: 'Jomolhari', serif;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
	margin:500px;
}

#third{
	font-size:18px;
	line-height:38px;
	margin-top:300px;
	margin-left:600px;
}

#six{ 
	color:#C1DCDE;
	font-size:70px;
	text-align:left;
	line-height: 88px;
	margin:300px;


}

.important{
	color: #FFFFFF;
	font-size: 32px;
	font-family: PT serif, serif;
	text-align:left;
	line-height: 55px; 
	font-weight: lighter;
}

a{
	font-style:italic;
}