body {
	background-color: #C3D0FF
}

h1 {
	color: #FFDB76;
	font-family: Garamond, serif;
	font-size: 20px;
}

#second{
	color:#F2F2F2;
	font-family: Roboto, san-serif;
	font-weight: bold;
	font-size: 200px;
}

p {font-family: Roboto, san-serif;
	font-size: 40px;
}

.important{
	font-color: #229D95;
	font-size: 60px;
}

a{
	font-style:italic;
}